ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul>li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

#options-list>li {
  justify-content: flex-start;
}

body {
  margin: 20px auto;
  text-align: center;
}

.wrapper {
  margin: 10px;
}

button {
  padding: 3px;
  margin: 3px;
}

.workspace {
  display: flex;
  justify-content: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fill-full-line-grid {
  grid-column: 1 / -1;
}